{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="centrer">Créer un compte</h1>

    <div class="boiteform">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="submit">S'enregistrer</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
